ul,
p,
h1,
h2,
input {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.phonebook {
  display: block;
  max-width: 400px;
  border: 2px solid black;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 1%;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.phonebook h1,
.phonebook h2 {
  display: block;
  margin: 10px;
  font-size: 35px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  text-align: center;
}
.phonebook p {
  display: block;
  height: 45px;
  padding: 5px;
  text-align: center;
  font: bold 20px arial;
  text-align: center;
  color: black;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
/* .phonebook input {
  display: block;
  margin: 10px auto;
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
} */

.phonebook li {
  /* display: flex;
  justify-content: space-between; */
  margin-left: 20px;
  margin-right: 20px;
}

.phonebook ul {
  /* margin-bottom: 10px; */
}
